# **Módulo 2. Plataformas de Aplicación sobre Python**
**Práctica 1 - Análisis de Tweets de la vacunación**
---

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Leer el archivo vaccination_tweets.csv y dejarlo en un dataframe

In [ ]:
tweets = pd.read_csv('/content/vaccination_tweets.csv')

In [ ]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4280 entries, 0 to 4279
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                4280 non-null   float64
 1   user_name         4280 non-null   object
 2   user_location     3398 non-null   object
 3   user_description  4009 non-null   object
 4   user_created      4280 non-null   object
 5   user_followers    4280 non-null   int64
 6   user_friends      4280 non-null   int64
 7   user_favourites   4280 non-null   int64
 8   user_verified     4280 non-null   bool
 9   date              4280 non-null   object
 10  text              4280 non-null   object
 11  hashtags          3188 non-null   object
 12  source            4279 non-null   object
 13  retweets          4280 non-null   int64
 14  favorites         4280 non-null   int64
 15  is_retweet        4280 non-null   bool
dtypes: bool(2), float64(1), int64(5), object(8)
memory usage: 476.6+ KB

Los 5 usuarios con más seguidores

In [ ]:
masSeg = tweets[['user_name', 'user_followers']]
masSeg = masSeg.sort_values('user_followers')
masSeg = masSeg.drop_duplicates(subset='user_name')
masSeg[:-6:-1]

       user_name  user_followers
1121        CGTN        13714928
2113    ABP News        10741934
912    The Hindu         6565800
1481  IndiaToday         5450165
293      DD News         3085027

La cantidad promedio de amigos que tienen los usuarios

In [ ]:
tweets['user_friends'].mean()

1156.2060747663552

La cantidad de usuarios por cada fuente de donde hicieron el tweet

In [ ]:
fuentes = tweets[['source', 'user_name']].groupby('source').count() 
fuentes.sort_values('user_name', inplace=True)
fuentes

                                 user_name
source
WordPress.com                            1
Blog2Social APP                          1
Twitter Media Studio - LiveCut           1
EastMojo                                 1
Tweetbot for Mac                         1
TweetCaster for Android                  1
ThreadReaderApp                          1
Sprout Social                            1
Socialbakers                             1
SocialNewsDesk                           1
UberSocial for Android                   1
News Users                               1
Publer                                   1
Paper.li                                 1
Twitter Media Studio                     2
Sendible                                 2
Falcon Social Media Management           2
Echobox                                  2
GT_Backend                               2
Twitter for Mac                          3
IFTTT                                    3
24liveblog                               4
LinkedIn                                 5
SocialFlow                               5
Microsoft Power Platform                 5
Nonli                                    6
Hootsuite Inc.                          16
Instagram                               24
Buffer                                  36
Twitter for iPad                       112
TweetDeck                              240
Twitter for Android                    999
Twitter Web App                       1271
Twitter for iPhone                    1526

El promedio de retweets, sin considerar a aquellos usuarios que no tienen retweetts

In [ ]:
ret = tweets[tweets['retweets']>0]
ret['retweets'].mean()

5.893939393939394

Los 5 primeros usuarios que tienen más de 100 favoritos

In [ ]:
favoritos100 = tweets[tweets['favorites']>100]
favoritos100 = favoritos100[['user_name', 'favorites']]
favoritos100.sort_values('favorites', ascending=True, inplace=True)
favoritos100[:5:]

                   user_name  favorites
2746  Krutika Nitin Mediwala        102
2918          eimearmccarthy        104
3607   Jackson Health System        110
350             Taz Ebenezer        112
1985         Suzanne Devkota        114