**MÓDULO 4 - PLATAFORMAS DE VISUALIZACIÓN**

---

**SESIÓN: Aprende**

In [2]:
import pandas as pd

# **TEMA 1. Exploración y validación de datos**

## 1.1 Rangos típicos, categorías y valores faltantes

Sube a tu drive los dos archivos csv que el instructor te proporcionará y crea una nueva libreta en Colab para:

*   Leer dichos archivos en dos dataframes: `countries` y `cities`

In [3]:
countries = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DS & AI - M4/M4 | Aprende/world_table_country.csv')
countries

    Code          Name  ...                                GovernmentForm Capital
0    ABW         Aruba  ...  Nonmetropolitan Territory of The Netherlands   129.0
1    AFG   Afghanistan  ...                               Islamic Emirate     1.0
2    AGO        Angola  ...                                      Republic    56.0
3    AIA      Anguilla  ...                 Dependent Territory of the UK    62.0
4    ALB       Albania  ...                                      Republic    34.0
..   ...           ...  ...                                           ...     ...
234  YEM         Yemen  ...                                      Republic  1780.0
235  YUG    Yugoslavia  ...                              Federal Republic  1792.0
236  ZAF  South Africa  ...                                      Republic   716.0
237  ZMB        Zambia  ...                                      Republic  3162.0
238  ZWE      Zimbabwe  ...                                      Republic  4068.0

[239 rows x 13 columns]

In [4]:
cities = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DS & AI - M4/M4 | Aprende/world_table_city.csv')
cities

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

*   Realizar un análisis de la estructura de `countries`


*   Explorar el contenido de `countries`

*   Borrar los registros que tengan `NaN` en la columna `Capital`

*   Ejecutar el mismo análisis con `cities`



*   Combinar ambos dataframes

## 1.2 Distribuciones y estadísticas

*   ¿Cuál es el promedio de población para el conjunto de países analizados?

*   ¿Qué superficie territorial tiene el país más pequeño? ¿Y el más grande?

*   ¿Cuál es la desviación estándar de la expectativa de vida?

*   ¿Qué significa que para el año de independencia está 1974 en el 3er cuartil (75%)?

# **TEMA 2. Plataformas de visualización en Python**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2.1 Trazado básico y personalización de la estética

*   Generar un nuevo dataframe (`sample`) con los 6 primeros registros de `countries` y dejando únicamente las columnas `Name` y `Population`

*   Hacer que `Name` sea el índice

*   Visualizar `sample` usando las tres plataformas de trazado

*   Cambiar las propiedades: `title`, `grid`, `legend`, `xlabel`, `ylabel`, `rot`, `fontsize`, `color`, `marker` y `linestyle` de la gráfica generada con Pandas

*   Probar con otro dataframe (`sample2`) que almacene los 6 primeros registros de `countries`, pero con todas sus columnas

*   Cambiar el tipo de gráfico a barras horizontales usando el argumento `kind`

## 2.2 Agrupamiento y filtrado

*   Generar un nuevo dataframe (`population_by_continent`) con el resultado de agrupar la columna `Population` con el total por continente

*   Graficar los resultados usando un gráfico pie de Pandas

*   Graficar el número de países por continente usando la función `countplot() `de Seaborn

*   Cambiar la paleta de colores y el tema con Seaborn

# **TEMA 3. Gráficas superpuestas**

##3.1 Compartiendo ambos ejes

*   Generar un nuevo dataframe (`gnp_by_continent`) con el resultado de agrupar las columnas `GNP` y `GNPOld` con el promedio por continente

*   Graficar los resultados usando las tres plataformas de trazado

## 3.2 Compartiendo el eje horizontal con ejes verticales independientes

*   Generar un nuevo dataframe (`summary_by_continent`) con el resultado de agrupar las columnas `LifeExpectancy` y `GNP` con el promedio por continente

*   Crear un eje vertical dual o secundario

*   Graficar `LifeExpectancy` en el eje vertical izquierdo con color azul

*   Graficar `GNP` en el eje vertical derecho con color verde