In [1]:
import pandas as pd

In [2]:
fbk = ['Facebook', 2449, True, 2016]

In [3]:
twt = ['Twitter', 339, False, 2016]

In [4]:
lista_rss = [fbk, twt]

In [6]:
newDataFrame = pd.DataFrame(lista_rss, columns =['Nombre', 'Cantidad', 'Es_FBX', 'Año'])

In [7]:
newDataFrame

     Nombre  Cantidad  Es_FBX   Año
0  Facebook      2449    True  2016
1   Twitter       339   False  2016

In [8]:
df_vacio=pd.DataFrame(columns =['Nombre', 'Cantidad', 'Es_FBX', 'Año'])

In [9]:
df_vacio

Empty DataFrame
Columns: [Nombre, Cantidad, Es_FBX, Año]
Index: []

In [11]:
df_vacio=df_vacio.append({'Nombre':'Facebook','Cantidad':1234, 'Es_FBX':True, 'Año':2015}, ignore_index=True)

In [12]:
df_vacio

     Nombre Cantidad Es_FBX   Año
0  Facebook     1234   True  2015

In [13]:
df_vacio

     Nombre Cantidad Es_FBX   Año
0  Facebook     1234   True  2015

In [14]:
df_vacio=pd.DataFrame(columns =['Nombre', 'Cantidad', 'Es_FBX', 'Año'])

In [15]:
df_vacio=pd.DataFrame(columns =['Nombre', 'Cantidad', 'Es_FBX', 'Año'])

In [16]:
df_vacio=pd.DataFrame(columns =['Nombre', 'Cantidad', 'Es_FBX', 'Año'])

In [17]:
df_vacio

Empty DataFrame
Columns: [Nombre, Cantidad, Es_FBX, Año]
Index: []

In [18]:
df_vacio.append({'Nombre':'Facebook','Cantidad':1234, 'Es_FBX':True, 'Año':2015}, ignore_index=True)

     Nombre Cantidad Es_FBX   Año
0  Facebook     1234   True  2015

In [19]:
df_vacio.append({'Nombre':'Facebook','Cantidad':1234, 'Es_FBX':True, 'Año':2015}, ignore_index=True)

     Nombre Cantidad Es_FBX   Año
0  Facebook     1234   True  2015

In [20]:
df_vacio.append({'Nombre':'Facebook','Cantidad':1234, 'Es_FBX':True, 'Año':2015}, ignore_index=True)

     Nombre Cantidad Es_FBX   Año
0  Facebook     1234   True  2015

In [21]:
df_vacio.append({'Nombre':'Facebook','Cantidad':1234, 'Es_FBX':True, 'Año':2015}, ignore_index=True)

     Nombre Cantidad Es_FBX   Año
0  Facebook     1234   True  2015

In [22]:
df_vacio

Empty DataFrame
Columns: [Nombre, Cantidad, Es_FBX, Año]
Index: []