In [15]:
for i in [1, 2, 3, 4, 5]:
    #print (i) # first line in "for i" block
    for j in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
        print (i,"|",j) # first line in "for j" block
        #print i + j # last line in "for j" block
        #print i # last line in "for i" block
        #print ("done looping")

1 | 1
1 | 2
1 | 3
1 | 4
1 | 5
1 | 6
1 | 7
1 | 8
1 | 9
1 | 10
2 | 1
2 | 2
2 | 3
2 | 4
2 | 5
2 | 6
2 | 7
2 | 8
2 | 9
2 | 10
3 | 1
3 | 2
3 | 3
3 | 4
3 | 5
3 | 6
3 | 7
3 | 8
3 | 9
3 | 10
4 | 1
4 | 2
4 | 3
4 | 4
4 | 5
4 | 6
4 | 7
4 | 8
4 | 9
4 | 10
5 | 1
5 | 2
5 | 3
5 | 4
5 | 5
5 | 6
5 | 7
5 | 8
5 | 9
5 | 10

In [16]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +

13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

In [17]:
print(long_winded_computation)

210

In [18]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
easier_to_read_list_of_lists = [ [1, 2, 3],
[4, 5, 6],
[7, 8, 9] ]

In [20]:
print(easier_to_read_list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
two_plus_three = 2 + \
3

In [22]:
print(two_plus_three)

5

In [26]:
for i in [1, 2, 3, 4, 5]:
    
    # notice the blank line
    print (i)

1
2
3
4
5

In [38]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [28]:
print(my_regex)

re.compile('[0-9]+', re.IGNORECASE)

In [29]:
print(re.I)

RegexFlag.IGNORECASE

In [30]:
import matplotlib.pyplot as plt

In [34]:
from collections import defaultdict, Counter
    lookup = defaultdict(int)
    my_counter = Counter()

IndentationError: unexpected indent (<ipython-input-34-9450d423a4d4>, line 2)

In [42]:
match = 10
from re import * # uh oh, re has a match function
print (match)

<function match at 0x7f2f21e8ef80>

In [43]:
print("algo")

algo

In [44]:
palabras = ['hola', 'hello', 'ola']

In [45]:
print(palabras)

['hola', 'hello', 'ola']

In [49]:
palabras.pop(1)

IndexError: pop index out of range

In [50]:
print(palabras)

['hola']

In [51]:
mi_tabla = [['Juan', 'Laura'], [21, 32]]

In [52]:
for fila in mi_tabla:
    # Accedemos a cada columna dentro de la fila
    for columna in fila:
        print(columna)

Juan
Laura
21
32

In [53]:
for i in range(len(mi_tabla)):
    for j in range(len(mi_tabla[i])):
        print(mi_tabla[i][j])

Juan
Laura
21
32

In [54]:
fila = 0

In [55]:
while fila < len(mi_tabla):
    columna = 0
    while columna < len(mi_tabla[fila]):
        print(mi_tabla[fila][columna])
        columna += 1
    fila += 1

Juan
Laura
21
32

In [56]:
5/2

2.5

In [57]:
5//2

2

In [58]:
5%2

1

In [60]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    return x * 2

In [61]:
double(10)

20

In [62]:
def apply_to_one(f):
    """calls the function f with 1 as its argument"""
    return f(1)

In [64]:
apply_to_one()

TypeError: apply_to_one() missing 1 required positional argument: 'f'

In [65]:
my_double = double

In [67]:
print(my_double(10))

20

In [68]:
x = apply_to_one(my_double)

In [69]:
print(x)

2

In [70]:
y = apply_to_one(lambda x: x + 4)

In [71]:
y

5

In [72]:
def another_double(x): return 2 * x

In [74]:
another_double(10)

20

In [78]:
def my_print(message="my default message"):
    print(message)

In [80]:
my_print()

my default message

In [83]:
my_print()

my default message

In [82]:
my_print("Este es otro mensaje")

Este es otro mensaje

In [84]:
def subtract(a=0, b=0):
    return a - b

In [86]:
subtract(5,5)

0

In [87]:
tab_string = "\t"

In [88]:
len(tab_string)

1

In [89]:
not_tab_string = r"\t"

In [90]:
len(not_tab_string)

2

In [91]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

In [92]:
multi_line_string

'This is the first line.\nand this is the second line\nand this is the third line'

In [96]:
try:
    print(0/0)
except ZeroDivisionError:
    print ("cannot divide by zero")

cannot divide by zero

In [97]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]

In [98]:
list_of_lists = [ integer_list, heterogeneous_list, [] ]

In [99]:
print(list_of_lists)

[[1, 2, 3], ['string', 0.1, True], []]

In [100]:
len(integer_list)

3

In [101]:
sum(integer_list)

6

In [102]:
x = range(10)

In [103]:
x

range(0, 10)

In [104]:
zero = x[0]

In [105]:
zero

0

In [106]:
x = [1, 2, 3]

In [107]:
x

[1, 2, 3]

In [108]:
x.extend([4,5,6,7])

In [109]:
x

[1, 2, 3, 4, 5, 6, 7]

In [113]:
i, j, z = [1, 2, 3]

In [114]:
i,"|",j,"|"z

SyntaxError: invalid syntax (<ipython-input-114-c62ec28ac088>, line 1)

In [112]:
j

2

In [115]:
z

3

In [116]:
_, y = [1, 2]

In [117]:
_

1

In [118]:
y

2

In [119]:
my_list = [1, 2]
my_tuple = (1, 2)

In [120]:
my_list

[1, 2]

In [121]:
my_tuple

(1, 2)

In [122]:
other_tuple = 3, 4

In [123]:
other_tuple

(3, 4)

In [125]:
try:
    my_tuple[1] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [127]:
def sum_and_product(x, y):
    return (x + y),(x * y)

In [129]:
s, p =sum_and_product(3,4)

In [130]:
s

7

In [131]:
p

12

In [132]:
empty_dict = {}

In [133]:
empty_dict2 = dict()

In [134]:
empty_dict2

{}

In [135]:
grades = { "Joel" : 80, "Tim" : 95 }

In [136]:
grades

{'Joel': 80, 'Tim': 95}